.main-container {
  max-width: 768px !important;
}

.partial-password-line {
  width: 100% !important;
}

.partial-password-char input {
  width: 100% !important;
  text-align: center !important;
}

.sign-link {
  cursor: pointer;
}
